body {
margin-top: 10px
margin-bottom: 20px
margin-right: 10px
margin-left: 20px
padding: 0;
background: #FFFFFF;
font-family: Arial, Helvetica, sans-serif;
font-size: 12px;
color: #787878;
}

h1 {
margin: 20px 20px 10px 10px;
padding: 0;
font-family: Georgia, "Times New Roman", Times, serif;
font-weight: normal;
font-size: 2em;
color: #F93D00;
}